*{margin: 0; padding: 0;}
body{
   font-family: 'Montserrat', sans-serif;
}

hr {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: #74b9ff;
    border: 2px solid;
}
/* Menu */
#introduce {
    background-image: url(images/code.jpg);
    height: 800px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#navigation #TopNav ul.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
#navigation #TopNav ul.navbar-nav li.nav-item {
  list-style: none;
}
#navigation #TopNav ul.navbar-nav li.nav-item a.nav-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
  padding: 5px 20px;
}
#navigation #TopNav ul.navbar-nav li.nav-item a.nav-link:hover {
  background: #74b9ff;
  color: #fafafa !important;
}

#navigation.bg {
  background: #fafafa;
  border-bottom: 1px solid #555555;
  box-shadow: 0px 1px 20px 0px #00000042;
  margin-bottom: 0 !important;
}

#navigation.bg ul li.nav-item a.nav-link {
  color: #555555 !important;
  padding: 10px 20px !important;
}

/* End menu */

/* Introduc */
#introduce .intro p.job {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 45px;
    margin-bottom: 0 !important;
    color: #fafafa;
}

#introduce .intro p.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #74b9ff;
}

#introduce .intro p.hello {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #fafafa;
}

#introduce .intro {
    padding-top: 310px;
}

/* End introduc */


/* About */

#about .information .table tr td {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
}

#about .information p.more-infomation {
    font-size: 15px;
    font-weight: 400;
    margin: 25px 0;
}

#about .information span {
    font-size: 22px;
    font-weight: 500;
}


h1.header_title {
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
}

section#about {
    background-color: #eeeeee;
    padding-bottom: 35px;
}

/* end about */

/* Skill of me */
#skill p.skill-title_more {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 33px;
}

#skill ._1line {
  position: relative;
  margin-bottom: 50px;
}

#skill ._1line p.subjects {
  font-size: 18px;
  font-weight: 400;
}

#skill ._1line .line {
  height: 5px;
  border-radius: 2px;
}

#skill ._1line .line .line-details {
  background-color: #74b9ff;
}

#skill ._1line .value {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  color: #555555;
  font-size: 18px;
  font-weight: 400;
}

#skill ._1line:hover {
  cursor: pointer;
}

#skill ._1line .skill-information {
  background: #74b9ff;
  padding: 10px 20px;
  border-radius: 0px;
}

#skill ._1line .skill-information p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #fafafa;
}


 #skill {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #dadada;
  }

  #skill h1.header_title {
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
  }

  #skill h2.skill-title {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  #skill p.skill-title_more {
    font-size: 15px;
    font-weight: 400;
    margin: 25px 0;
  }

  #skill ._1line p.subjects {
    font-size: 16px;
    font-weight: 500;
  }

  #skill ._1line .value {
    font-size: 16px;
  }

/* End Skill of me */

/* Resume */

#resume p.skill-title_more {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 33px;
}

#resume ._1block {
  background: #eeeeee;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  margin-bottom: 30px;
}

#resume ._1block:hover {
  box-shadow: 0px 4px 1px 0 #00000038;
}

#resume ._1block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 0;
  height: 0;
  border-bottom: 35px solid transparent;
  border-left: 35px solid #74b9ff;
}

#resume ._1block p.time {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

#resume ._1block p.title_job {
  font-size: 20px;
  font-weight: 700;
  color: #74b9ff;
}

#resume ._1block p.detail_job p.local {
  font-size: 15px;
  font-weight: 400;
}

/* End Resume */

/* Mobile */
@media screen and (max-width: 576px){

  body {
    
  }

  #navigation button.collapse-button {
    border: 1px solid #3e3e3e;
    border-radius: 0px;
    margin-top: 5px;
  }

  #navigation button.collapse-button span.collapse-button_bars {
    font-size: 20px;
    color: #101010;
  }

  #navigation #TopNav {
    width: 100%;
    margin-top: 5px;
  }

  #navigation #TopNav ul.navbar-nav li.nav-item a.nav-link {
    text-align: center;
    color: #74b9ff !important;
    /* padding: 10px; */
  }

  #navigation #TopNav ul.navbar-nav li.nav-item a.nav-link.active {
    color: #fafafa !important;
  }
  #navigation #TopNav {
    background: #fafafa;
    width: 100%;
    border: 1px solid #555555;
    border-radius: 0px;
    margin-top: 5px;
  }

  #introduce {
    padding-bottom: 15vh;
    height: 300px;
  }
  #introduce .intro {
    padding-top: 100px;
  }
  #introduce .intro p.name {
    font-size: 36px;
    padding-bottom: 9px;
  }
  #introduce .intro p.job {
    font-size: 14px;
    padding-bottom: 20px;
  }

 

}


/* End mobile */